<% require 'gchart' %>

<div id="hook">
  <div id="hook-main">
    Find The Next Big Thing
  </div>
  <div id="hook-sub">
    Pulse predicts when a petition will reach it's threshold
  </div>
</div>

<div id="chart">
  <%= high_chart("my_id", @h) %>
</div>

<div id="petition-metrics">
  <div id="rate">
    <div id="rate-title">
      <h1>Fastest Growing</h1>
    </div>
    <% @rankings.reverse.each do |p| %>
      <div class="well">
        <div class="petition-title">
          <p><%= p.title %></p>
        </div>
        <div class="petition-rate">
          <p class="petition-rate-metric inline"><%= "#{ p.running_rate_average(7) }%" %></p>
          <p class="inline petition-rate-metric-label">per day</p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="days">
    <div id="days-title">
      <h1>Near Threshold</h1>
    </div>
    <% @near_threshold.each do |p| %>
      <div class="well">
        <div class="petition-title">
          <p><%= p.title %></p>
        </div>
        <div class="petition-days">
          <p class="inline petition-days-metric"><%= "#{p.til_threshold(7)}" %></p>
          <p class="inline petition-days-label">days</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
