<% require 'gchart' %>

<%= high_chart("my_id", @h) %>

<div id="rate">
  <h1>Fastest Growing Petitions</h1>
  <% @rankings.reverse.each do |p| %>
    <div class="well">
      <div class="petition-title">
        <p><%= p.title %></p>
      </div>
      <div class="petition-rate">
        <p><%= "#{p.running_rate_average(7)}% / day" %></p>
      </div>
    </div>
  <% end %>
</div>

<div id="days">
  <h1>Near Threshold</h1>
  <% @near_threshold.each do |p| %>
    <div class="well">
      <div class="petition-title">
        <p><%= p.title %></p>
      </div>
      <div class="petition-days">
    <p><%= "#{p.til_threshold(7)} days" %></p>
      </div>
    </div>
  <% end %>
</div>
