<!DOCTYPE html>
<html>
<head>
  <title>Pulse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="font-family: 'PT Sans Narrow'; font-size: 28px">
        <div class="container"></div>
        <div class="logo">
          <%= link_to "Pulse", '/' %>
        </div>
        <div id="dropdown">
          <%= form_tag(request.path, method: :get) do %>
          <%= select_tag "issue", options_for_select(@issues, params[:issue]), onchange: 'form.submit()' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
